@model List<CartItem>
@{
    ViewData["Title"] = "Index";
}

    <main>
        <h2 class="cart-title">Twój koszyk</h2>

        @if(Model.Count == 0)
        {
            <p class="no-products-info">Twój koszyk jest obecnie pusty</p>
        }
        else
        {
            <table>
                <tr>
                    <th></th>
                    <th>Produkt</th>
                    <th>Cena</th>
                    <th>Ilość</th>
                    <th>Suma</th>
                    <th></th>
                </tr>

                @{ 
                    double totalAmount = 0;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="~/assets/product.png" />
                        </td>
                        <td>
                            <span><a asp-action="Details" asp-controller="Product" asp-route-productId="@item.Id">@item.Name</a></span>
                            <span>Rozmiar: @item.Size</span>
                        </td>
                        <td class="price">@item.Price.ToString("0.00") zł</td>
                        <td><input asp-for="@item.Quantity" min="0"></td>

                        @{
                            double singleProductAmount = item.Quantity * item.Price;
                            totalAmount += singleProductAmount;
                        }

                        <td class="amount">@singleProductAmount.ToString("0.00") zł</td>
                        <td>
                            <a asp-action="RemoveProduct" asp-controller="Cart" asp-route-productId="@item.Id" asp-route-productSize="@item.Size">Usuń</a>
                        </td>
                    </tr>
                }

                <tr>
                    <td></td>
                    <td>Razem</td>
                    <td></td>
                    <td></td>
                    <td class="total-amount">@totalAmount.ToString("0.00") zł</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="2"><button>Kupuję</button></td>
                </tr>
            </table>
        }
       
    </main>

