@model List<CartItem>
@{
    ViewData["Title"] = "Index";
}

<main>
    <h2 class="cart-title">Twój koszyk</h2>

    @if(Model.Count == 0)
    {
        <p class="no-products-info">Twój koszyk jest obecnie pusty</p>
    }
    else
    {
        <table>
            <tr>
                <th></th>
                <th>Produkt</th>
                <th>Cena</th>
                <th>Ilość</th>
                <th>Suma</th>
                <th></th>
            </tr>

            @{ 
                double totalAmount = 0;
                int listLength = Model.Count();
            }

            @for (int i=0; i<listLength; i++)
            {
                int numberSizeValue = (int)Model[i].Size;

                <tr>
                    <td>
                        <img src="~/assets/product.png" />
                    </td>
                    <td>
                        <span><a asp-action="Details" asp-controller="Product" asp-route-productId="@Model[i].Id">@Model[i].Name</a></span>
                        <span>Rozmiar: @Model[i].Size</span>
                    </td>
                    <td class="price">@Model[i].Price.ToString("0.00") zł</td>

                    <td class="quantity-input-field">
                        <button class="decrease-quantity-button" onclick="decreaseQuantity(@i, @Model[i].Id, @numberSizeValue, @Model[i].Price)">-</button>
                        <input asp-for="@Model[i].Quantity" min="0" type="number" class="quantity-input" readonly>
                        <button class="increase-quantity-button" onclick="increaseQuantity(@i, @Model[i].Id, @numberSizeValue, @Model[i].Price)">+</button>
                    </td>

                    @{
                        double singleProductAmount = Model[i].Quantity * Model[i].Price;
                        totalAmount += singleProductAmount;
                    }

                    <td class="amount">@singleProductAmount.ToString("0.00") zł</td>
                    <td>
                        <a asp-action="RemoveProduct" asp-controller="Cart" asp-route-productId="@Model[i].Id" asp-route-productSize="@Model[i].Size">Usuń</a>
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td>Razem</td>
                <td></td>
                <td></td>
                <td class="total-amount">@totalAmount.ToString("0.00") zł</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2"><button class="cart-submit-button">Kupuję</button></td>
            </tr>
        </table>
    }
       
</main>

<script src="~/js/cart.js"></script>