@model Shop.Common.Filters

<section class="filters">

    <div class="close-button"></div>

    <form asp-action="GetAll" asp-controller="Product" method="get">

        <input type="hidden" asp-for="Gender" />
        <input type="hidden" asp-for="Category" />
        <input type="hidden" asp-for="SearchBoxValue" />

        <div class="close-menu-button"></div>

        <div>
            <p>Sorting</p>
            <select asp-for="SortBy" asp-items="Html.GetEnumSelectList<Shop.Common.Enums.SortBy>()" id="SortBy"></select>
            <span asp-validation-for="SortBy"></span>
        </div>
        <div class="price">
            <p>Price</p>

            <div>
                <label asp-for="MinPrice">Min</label>
                <input asp-for="MinPrice" />
            </div>
            <div>
                <label asp-for="MaxPrice">Max</label>
                <input asp-for="MaxPrice" />
            </div>
        </div>
        <div>
            <p>Size</p>
            @for (int i = 0; i < Model.SizeCheckboxes.Count(); i++)
            {
                <div class="form-group">
                    <input asp-for="@Model.SizeCheckboxes[i].Size" type="hidden" />
                    <input asp-for="@Model.SizeCheckboxes[i].IsSelected" />
                    <label asp-for="@Model.SizeCheckboxes[i].IsSelected">@Model.SizeCheckboxes[i].Size</label>
                </div>
            }
        </div>
        <div>
            <p>Color</p>
            @for (int i = 0; i < Model.ColorCheckboxes.Count(); i++)
            {
                <div class="form-group">
                    <input asp-for="@Model.ColorCheckboxes[i].Color" type="hidden" />
                    <input asp-for="@Model.ColorCheckboxes[i].IsSelected" />
                    <label asp-for="@Model.ColorCheckboxes[i].IsSelected">@Model.ColorCheckboxes[i].Color</label>
                </div>
            }
        </div>
        <div>
            <p>Other</p>
            <div class="form-group">
                <input type="checkbox" asp-for="IsOverpriced"> <label asp-for="IsOverpriced">Overpriced</label>
            </div>
            @if (User.IsInRole("Administrator"))
            {
                <div class="form-group">
                    <input type="checkbox" asp-for="IsArchived"> <label asp-for="IsArchived">Archival</label>
                </div>
            }

        </div>

        <button type="submit">Filter</button>

    </form>

</section>

