<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>

        @await Html.PartialAsync("_TopBarPartial")

        <nav>
            <div class="categories">
                <p class="man-nav-button">Moda męska</p>
                <p class="woman-nav-button">Moda damska</p>
            </div>
            <div class="navigation-container">
                <div class="man-navigation">
                    <div class="close-button"></div>
                    <ul>
                        @foreach (var item in Enum.GetValues(typeof(Shop.Enums.MansCategory)))
                        {
                            int x = (int)item;
                            <li>
                                <a asp-action="GetAll" asp-controller="Product" asp-route-gender="@Shop.Common.Gender.Mens" asp-route-category="@x">@item</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="woman-navigation">
                    <div class="close-button"></div>
                    <ul>
                        @foreach (var item in Enum.GetValues(typeof(Shop.Enums.WomanCategory)))
                        {
                            int x = (int)item;
                            <li>
                                <a asp-action="GetAll" asp-controller="Product" asp-route-gender="@Shop.Common.Gender.Womens" asp-route-category="@x">@item</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/ajax-call.js"></script>
    <script src="~/js/layout.js"></script>

    @RenderSection("Scripts", required: false)

</body>

</html>
