@model List<Shop.ViewModels.OrderDetailsViewModel>
@{
    ViewData["Title"] = "GetAllNotSent";
    int listLength = Model.Count();
}

<main>

    <h2>Lista zamówień</h2>

    <div class="links-container">
        <a asp-action="GetAll" asp-controller="Order" asp-route-isSent="false" class="custom-link">Oczekujące</a>
        <span>|</span>
        <a asp-action="GetAll" asp-controller="Order" asp-route-isSent="true" class="custom-link">Wysłane</a>
    </div>

    @if(listLength < 1)
    {
        <p class="additional-info">Nie masz żadnych zamówień w tej kategorii.</p>
    }
    else
    {
        <table cellspacing="0" class="order-table">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Uzytkownik</th>
                    <th>Adres</th>
                    <th>Szczegóły zamówienia</th>
                    <th>Status</th>
                    @if (listLength > 0 && !Model[0].IsSent)
                    {
                        <th>Opcje</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < listLength; i++)
                {
                    <tr>
                        <td>@Model[i].CreationDate.ToShortDateString() <br /> @Model[i].CreationDate.ToShortTimeString()</td>
                        <td>
                            @Model[i].UserEmail
                        </td>
                        <td>
                            @Model[i].UserName <br />
                            @Model[i].Adress.Street @Model[i].Adress.BuildingNumber / @Model[i].Adress.FlatNumber <br>
                            @Model[i].Adress.PostCode @Model[i].Adress.City
                        </td>
                        <td>
                            @{ int productListLength = Model[i].Products.Count();}
                            @for (int j = 0; j < productListLength; j++)
                            {
                                <div>@Model[i].Products[j].Name x @Model[i].Products[j].Quantity<br><span class="size-span">Rozmiar: @Model[i].Products[j].Size</span> </div>
                            }
                        </td>
                        @if (!Model[i].IsSent)
                        {
                            <td>Opłacono</td>
                        }
                        else
                        {
                            <td>Wysłano</td>
                        }

                        @if (!Model[i].IsSent)
                        {
                            <td>
                                <span class="link-button" onclick="showConfirmationPopup(@Model[i].Id)">Wysłano</span>
                            </td>
                        }

                    </tr>

                }

            </tbody>
        </table>
    }

   
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="~/js/send-order-confirmation-popup.js"></script>
