@model Shop.ViewModels.ProductDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<a asp-action="Update" asp-controller="Product" asp-route-productId="@Model.Id">Edytuj</a>

<h1>@Model.Name </h1>
<p>@Model.Price Zł</p>
<p>Rodzaj: @Model.Gender</p>
<p>Opis: @Model.Description</p>
<p>Kolor: @Model.Color</p>
<p>Kategoria: @Model.Category</p>
<p>Dostępne rozmiary:</p>
<p>Ilość: @Model.Quantity</p>

@foreach (var size in Model.Sizes)
{
    if (size.Quantity > 0)
    {
        <span>@size.Size:</span><span>@size.Quantity</span>
    }

}

@await Html.PartialAsync("_AddToCartPartial", new Shop.ViewModels.AddToCartViewModel() { Id = Model.Id, Sizes = Model.Sizes, Quantity = Model.Quantity})

