@model Shop.ViewModels.ProductDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>
<p>@Model.Price</p>ZŁ
<p>@Model.Size</p>
<p>@Model.Gender</p>
<p>@Model.Description</p>
<p>@Model.Color</p>
<p>@Model.Category</p>

