@model Shop.ViewModels.ProductDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<a asp-action="Update" asp-controller="Product" asp-route-productId="@Model.Id">Edytuj</a>

<h1>@Model.Name </h1>
<p>@Model.Price Zł</p>
<p>Rodzaj: @Model.Gender</p>
<p>Opis: @Model.Description</p>
<p>Kolor: @Model.Color</p>
<p>Kategoria: @Model.Category</p>
<p>Dostępne rozmiary:</p>
<p>Ilość: @Model.Quantity</p>

@foreach (var size in Model.Sizes)
{
    if (size.Quantity > 0)
    {
        <span>@size.Name:</span><span>@size.Quantity</span>
    }

}

<form asp-action="AddProduct" asp-controller="Cart" method="post">

    @if (Model.Quantity >= 1)
    {
        <input type="hidden" name="productId" value="@Model.Id" />

        @for (int i = 0; i < Model.Sizes.Count(); i++)
        {
            if (Model.Sizes[i].Quantity >= 1)
            {
                int sizeValue = (int)Model.Sizes[i].Name;

                <label>@Model.Sizes[i].Name</label>

                if (i == 0)
                {
                    <input type="radio" name="size" value="@sizeValue" checked />
                }
                else
                {
                    <input type="radio" name="size" value="@sizeValue" />
                }
            }
        }

        <input name="quantity" type="number" value="1" />

        <button type="submit">Dodaj do koszyka</button>
    }
    else
    {
        <p>Produkt obecnie niedostępny</p>
    }

</form>