@model Shop.ViewModels.ProductDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<main>
    <div class="single-product-details">
        <div class="product-image">
            <img src="~/assets/product.png" />
        </div>
        <div class="details">
            <div class="favoutites-links-container">
                @if (Model.IsFavourite)
                {
                    <a class="remove-from-favourites" onclick="removeFromFavourites(@Model.Id, 0)"></a>
                }
                else
                {
                    <a class="add-to-favourites" onclick="addToFavourites(@Model.Id, 0)"></a>
                }
            </div>
            <a asp-action="Update" asp-controller="Product" asp-route-productId="@Model.Id">Edytuj</a>
            <h2>@Model.Name</h2>
            <p>@Model.Description</p>
            <span class="color">Kolor: @Model.Color</span>
            <div class="price-container">
                <div>
                    <span class="current-price">@Model.Price.ToString("0.00") zł</span>
                    @if (Model.IsOverpriced)
                    {
                        <span class="before-price">70,99 zł</span>
                    }
                </div>
                @if (Model.IsOverpriced)
                {
                    double? discount = 100 - Model.BeforePrice / Model.Price;
                    <span class="discount">@discount %</span>
                }
            </div>

            @await Html.PartialAsync("_AddToCartPartial", new Shop.ViewModels.AddToCartViewModel() { Id = Model.Id, Sizes = Model.Sizes, Quantity = Model.Quantity })
        </div>
    </div>
</main>

<script src="~/js/favourites.js"></script>