@model List<Shop.ViewModels.ProductDetailsViewModel>

@{
    ViewData["Title"] = "GetByCategory";
}

<h1>GetByCategory</h1>

@await Html.PartialAsync("_FilterResultsPartial", (Shop.Common.Filters)ViewBag.Filter)


@foreach (var item in Model)
{
    <a asp-action="Update" asp-controller="Product" asp-route-productId="@item.Id">Edytuj</a>

    <a asp-action="Details" asp-controller="Product" asp-route-productId="@item.Id">
        <div>
            <h2>@item.Name</h2>
            <p>@item.Price</p>
            <p>@item.Gender</p>
            <p>@item.Description</p>
            <p>@item.Color</p>w
            <p>@item.Category</p>
            <p>Ilość: @item.Quantity</p>

            @foreach (var size in item.Sizes)
            {
                if (size.Quantity > 0)
                {
                    <span>@size.Size:</span><span>@size.Quantity</span>
                }
            }
        </div>
    </a>

    @await Html.PartialAsync("_AddToCartPartial", new Shop.ViewModels.AddToCartViewModel() { Id = item.Id, Sizes = item.Sizes, Quantity = item.Quantity })



}

