@model List<Shop.ViewModels.ProductDetailsViewModel>
@{
    ViewData["Title"] = "GetByCategory";
}

<h1>GetByCategory</h1>

@foreach (var item in Model)
{
    <a asp-action="Update" asp-controller="Product" asp-route-productId="@item.Id">Edytuj</a>

    <a asp-action="Details" asp-controller="Product" asp-route-productId="@item.Id">
        <div>
            <h2>@item.Name</h2>
            <p>@item.Price</p>
            <p>@item.Gender</p>
            <p>@item.Description</p>
            <p>@item.Color</p>w
            <p>@item.Category</p>
            <p>Ilość: @item.Quantity</p>

            @foreach (var size in item.Sizes)
            {
                if (size.Quantity > 0)
                {
                    <span>@size.Name:</span><span>@size.Quantity</span>
                }
            }
        </div>
    </a>

    @*create partial view*@

    <form asp-action="AddProduct" asp-controller="Cart" method="post">

        @if (item.Quantity >= 1)
        {
            <input type="hidden" name="productId" value="@item.Id" />

            @for (int i = 0; i < item.Sizes.Count(); i++)
            {
                if (item.Sizes[i].Quantity >= 1)
                {
                    int sizeValue = (int)item.Sizes[i].Name;

                    <label>@item.Sizes[i].Name</label>

                    if (i == 0)
                    {
                        <input type="radio" name="size" value="@sizeValue" checked />
                    }
                    else
                    {
                        <input type="radio" name="size" value="@sizeValue" />
                    }
                }
            }

            <input name="quantity" type="number" value="1" />

            <button type="submit">Dodaj do koszyka</button>
        }
        else
        {
            <p>Produkt obecnie niedostępny</p>
        }

    </form>

}