@model Shop.ViewModels.UpdateProductViewModel
@{
    ViewData["Title"] = "Update";
}

<main>
    <div class="add-product-form">
        <div class="header">Edytuj produkt</div>
        <form asp-action="Update" asp-controller="Product" method="post" enctype="multipart/form-data">

            <input asp-for="Id" type="hidden" />

            <div class="details">
                <div class="form-group">
                    <label asp-for="Name">Nazwa:</label>
                    <input asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description">Opis:</label>
                    <textarea asp-for="Description"></textarea>
                    <span asp-validation-for="Description"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Price">Cena:</label>
                    <input asp-for="Price" />
                    <span asp-validation-for="Price"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Gender">Rodzaj:</label>
                    <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Shop.Common.Gender>()" id="Gender"></select>
                    <span asp-validation-for="Gender"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Category">Kategoria:</label>
                    <select asp-for="Category" asp-items="Html.GetEnumSelectList<Shop.Enums.WomanCategory>()" id="Category"></select>
                    <span asp-validation-for="Category"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Color">Kolor:</label>
                    <select asp-for="Color" asp-items="Html.GetEnumSelectList<Shop.Common.Color>()"></select>
                    <span asp-validation-for="Color"></span>
                </div>
                <div class="checkbox-form-group form-group">
                    <input asp-for="IsOverpriced" type="checkbox" class="is-overpriced" />
                    <label asp-for="IsOverpriced">Przeceń produkt</label>
                </div>
                <div class="form-group">
                    <label asp-for="NewPrice">Nowa cena</label>
                    <input asp-for="NewPrice" class="new-price" />
                    <span asp-validation-for="NewPrice"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image">Zdjęcie</label>
                    <input asp-for="Image" />
                    <span asp-validation-for="Image"></span>
                </div>
            </div>
            <div class="sizes">
               
                @for (int i = 0; i < Model.Sizes.Count(); i++)
                {
                    <div class="form-group">
                        <input type="hidden" asp-for="@Model.Sizes[i].Size" />
                        <input type="hidden" asp-for="@Model.Sizes[i].ExistsInDB" />
                        <input type="hidden" asp-for="@Model.Sizes[i].Id" />

                        <label asp-for="@Model.Sizes[i].Quantity">@Model.Sizes[i].Size</label>
                        <input asp-for="@Model.Sizes[i].Quantity" />
                        <span asp-validation-for="@Model.Sizes[i].Quantity"></span>
                    </div>
                }
                
                <button type="submit">Edytuj produkt</button>
            </div>
        </form>
    </div>
</main>


<script src="~/js/dropdown-lists.js"></script>
<script src="~/js/toggle-new-price-input.js"></script>